<div class="container">
  <div class="grid-container">
    <% @cocktails.each do |cocktail| %>
      <%= render 'shared/card', cocktail: cocktail, dose: @dose %>
    <% end %>
    <%= render 'shared/add-card' %>
  </div>
</div>
