<h1>Bartender</h1>

<div class="grid-container">
  <% @cocktails.each do |cocktail| %>
    <%= render 'shared/card', cocktail: cocktail %>
  <% end %>
</div>



<%= link_to 'Create a cocktail', new_cocktail_path %>
