<%= link_to new_cocktail_path,
  class: 'card-add__wrapper' do %>
    <div class="card-add__image"></div>
    <div class="card-add__content">
      <h2>Add a Cocktail</h2>

        <i class="fas fa-plus"></i>

    </div>
<% end %>
