<div class="card__wrapper js-card-flip">
  <div class="card__flip-card">

    <div class="card-front__wrapper">
      <div class="card-front__image"></div>
      <div class="card-front__content">
        <h2>Martini</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sed, illo, blanditiis ullam a qui? Ducimus expedita.</p>

        <button>See Ingredients</button>
      </div>
    </div>

    <div class="card-back__wrapper">
      <div class="card-back__content">
        <h3>Martini</h3>
        <ul>
          <li>Gin - 2 parts [x]</li>
          <li>Gin - 2 parts [x]</li>
          <li>Gin - 2 parts [x]</li>
        </ul>
      </div>
    </div>

  </div>
</div>
